extends layout

block content
 include includes/banner
 include includes/service
 include includes/more
 include includes/skills
 include includes/call
 include includes/footer
 include includes/jsLinks