body {
  padding: 50px;
  font: 14px "Helvetica Neue";
  color: white;
  background-color: #323232;
}
.img-inicio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  color: #00B7FF;
}

.div-inicio-img {
  margin: auto;
  width: 60%;
}

.div-inicio-title {
  margin: auto;
  width: 50%;
}

.title-inicio {
  font-size: 60px;
  text-align: center;
}

.center-text {
  text-align: center;
}