// start banner Area
section#home.banner-area
  // Start Header Area
  header.default-header
    nav.navbar.navbar-expand-lg.navbar-light
      .container
        a.navbar-brand(href='/')
          .header-logo
            .header-logo-img
            .header-logo-title Elber
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.lnr.lnr-menu
        #navbarSupportedContent.collapse.navbar-collapse.justify-content-end.align-items-center
          ul.navbar-nav
            li
              a(href='#home') Inicio
            li
              a(href='#service') Servicios
            li
              a(href='#feature') Skills
  // End Header Area
  .container
    .row.justify-content-end.fullscreen.align-items-center
      .col-lg-6.col-md-12.banner-left
        h1.text-white
          | &iexcl;El mejor asistente!
        p.mx-auto.text-white.mt-20.mb-40
          | Elber Drops ser&aacute; tu mejor amigo. Descubre todos sus talentos y perm&iacute;tele mejorar tu vida.
        a.text-uppercase.header-btn(href='#service') Conoce m&aacute;s
      .col-lg-6.col-md-12.no-padding.banner-right.banner-img-container
        .banner-img
// End banner Area
