// Start call-to-action Area
section.call-to-action-area.section-gap
  .container
    .row.justify-content-center.top
      .col-lg-12
        h1.text-white.text-center Pr&oacute;ximamente!
        p.text-white.text-center.mt-30
          | Muy pronto podr&aacute;s descargar la aplicaci&oacute;n movil desde la App Store y traer a Elber en todo momento.
    .row.justify-content-center.d-flex
      .download-button.d-flex.flex-row.justify-content-center.mt-30
        .buttons.flex-row.d-flex
          i.fa.fa-apple(aria-hidden='true' style='color: #000;')
          .desc
            a(href='#home')
              p
                span Disponible
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;en App Store
// End call-to-action Area
