// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-3.col-md-12
        .single-footer-widget
          h6 Elber Drops
          ul.footer-nav
            li
              a(href='#home') Inicio
            li
              a(href='#service') Servicios
            li
              a(href='#feature') Skills
    .row.footer-bottom.d-flex.justify-content-between
      // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      p.col-lg-8.col-sm-12.footer-text.m-0.text-white
        | Copyright &copy;
        script.
          document.write(new Date().getFullYear());
        |  All rights reserved | This template is made with 
        i.fa.fa-heart-o(aria-hidden='true')
        |  by 
        a(href='https://colorlib.com' target='_blank') Colorlib
      // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// End footer Area
