// Start about Area
section.about-area.section-gap
  .container
    .row.justify-content-center.align-items-center.d-flex
      .col-lg-6.about-left
        h1
          | M&uacute;sica, 
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Listas, Chistes 
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;y mucho m&aacute;s
        p.mt-20
          | Necesitas poner m&uacute;sica en una fiesta? Solo p&iacute;deselo a Elber! Si tienes una cuenta de Spotify, Elber podr&aacute; controlar tu m&uacute;sica en cualquier momento. Olv&iacute;date de recordar que necesitas comprar en el super; crea una lista y deja que Elber la administre. Esto es solo una probadita
        a.btn.primary-btn.text-uppercase.mt-20(href='#feature') Ver m&aacute;s
      .col-lg-6.about-right(style='width: 100%; height: 600px;')
        div(style="background-image: url('/images/chatElber.png'); background-position: center; background-size: contain; background-repeat: no-repeat; width: 100%; height: 100%;")