// Start cat Area
section#service.cat-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-60.col-lg-8
        .title.text-center
          h1.mb-10 Deja que Elber te ayude con tus tareas diarias!
          p
            | Una manera m&aacute;s f&aacute;cil y r&aacute;pida de hacer tus cosas. Solo p&iacute;dele a Elber que te ayude y deja que haga su m&aacute;gia, estamos seguros que te sorprender&aacute;.
    .row
      .col-lg-4
        .single-cat.d-flex.flex-column
          a.hb-sm-margin.mx-auto.d-block(href='#home')
            span.hb.hb-sm.inv.hb-facebook-inv
              span.lnr.lnr-magic-wand
          h4.mb-20(style='margin-top: 23px;') &Uacute;til
          p
            | Conoce todos los skills que tiene Elber y descubre como puede ayudarte en tu d&iacute;a a d&iacute;a. Constantemente estar&aacute; aprendiendo cosas nuevas para que le saques el mayor provecho.
      .col-lg-4
        .single-cat
          a.hb-sm-margin.mx-auto.d-block(href='#home')
            span.hb.hb-sm.inv.hb-facebook-inv
              span.lnr.lnr-rocket
          h4.mt-40.mb-20 R&aacute;pido
          p
            | Elber puede completar tareas mucho m&aacute;s r&aacute;pido que t&uacute;. Usa tu tiempo en lo que realmente amas; para todo lo dem&aacute;s cuentas con Elber.
      .col-lg-4
        .single-cat
          a.hb-sm-margin.mx-auto.d-block(href='#home')
            span.hb.hb-sm.inv.hb-facebook-inv
              span.lnr.lnr-checkmark-circle
          h4.mt-40.mb-20 Seguro
          p
            | Tu informaci&oacute;n est&aacute; segura y no se comparte con nadie. Elber es el amigo m&aacute;s confiable que podr&aacute;s tener; solo &eacute;l sabr&aacute; tus secretos.
// End cat Area
