// Start service Area
section#feature.service-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-60.col-lg-8
        .title.text-center
          h1.mb-10 Skills
          p Estas son algunas de las cosas que Elber sabe hacer.
    .row
      .col-lg-4.col-md-6.mb-30
        .single-service
          img.d-block.mx-auto.mb-30(src='/images/comedyIcon.jpeg' alt='' style='width: 30%; height: auto;')
          h4
            a(href='#feature') Chistes
      .col-lg-4.col-md-6.mb-30
        .single-service
          img.d-block.mx-auto.mb-30(src='/images/dateTimeIcon.jpeg' alt='' style='width: 30%; height: auto;')
          h4
            a(href='#feature') Fecha y Hora
      .col-lg-4.col-md-6.mb-30
        .single-service
          img.d-block.mx-auto.mb-30(src='/images/listIcon.jpeg' alt='' style='width: 30%; height: auto;')
          h4
            a(href='#feature') Listas
      .col-lg-4.col-md-6
        .single-service
          img.d-block.mx-auto.mb-30(src='/images/musicIcon.jpeg' alt='' style='width: 30%; height: auto;')
          h4
            a(href='#feature') M&uacute;sica
      .col-lg-4.col-md-6
        .single-service
          img.d-block.mx-auto.mb-30(src='/images/smallTalksIcon.png' alt='' style='width: 30%; height: auto;')
          h4
            a(href='#feature') Small Talks
// End service Area